.form-wrapper {
  position: relative;
  display: flex;
  border: 1px solid #b4b4b4;
}

.todo-form {
  width: 100%;
  border: none;
}

.todo-form__input {
  border: none;
  padding: 26px 65px;
  transition: box-shadow 0.2s ease-in-out;
}

input.todo-form__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 0.1rem rgba(120, 120, 120, 0.251);
  border: none;
  border-radius: 0;
}

.btn-add {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 8px 12px;
  font-size: 20px;
}

.btn-add__disabled {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 8px 12px;
  font-size: 20px;
  opacity: 0.3;
  cursor: auto;
}

.btn-add:hover {
  border-radius: 3px;
  color: green;
}

.btn-add:focus {
  outline: 1px solid green;
  border-radius: 3px;
  color: green;
}

.btn__dropdown {
  background-image: url("../../img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.btn__dropdown_isopen {
  background-image: url("../../img/arrow_up.svg");
}
